@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);
@media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]:after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    img {
      max-width: 100% !important;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  html {
    font-size: 12px;
  }
  
  @media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
      font-size: 15px;
    }
  }
  
  @media screen and (min-width: 48rem) {
    html {
      font-size: 16px;
    }
  }
  
  body {
    line-height: 1.85;
  }
  
  p,
  .splendor-p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
  }
  
  h1,
  .splendor-h1,
  h2,
  .splendor-h2,
  h3,
  .splendor-h3,
  h4,
  .splendor-h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
  }
  
  h1,
  .splendor-h1 {
    margin-top: 0;
    font-size: 3.998rem;
  }
  
  h2,
  .splendor-h2 {
    font-size: 2.827rem;
  }
  
  h3,
  .splendor-h3 {
    font-size: 1.999rem;
  }
  
  h4,
  .splendor-h4 {
    font-size: 1.414rem;
  }
  
  h5,
  .splendor-h5 {
    font-size: 1.121rem;
  }
  
  h6,
  .splendor-h6 {
    font-size: .88rem;
  }
  
  small,
  .splendor-small {
    font-size: .707em;
  }
  
  /* https://github.com/mrmrs/fluidity */
  
  img,
  canvas,
  iframe,
  video,
  svg,
  select,
  textarea {
    max-width: 100%;
  }
  
  html {
    font-size: 18px;
    max-width: 100%;
  }
  
  body {
    color: #444;
    font-family: 'Merriweather', Georgia, serif;
    margin: 0;
    max-width: 100%;
  }
  
  /* === A bit of a gross hack so we can have bleeding divs/blockquotes. */
  
  p,
  *:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p) {
    margin: 1rem auto 1rem;
    max-width: 36rem;
    padding: .25rem;
  }
  
  div {
    width: 100%;
  }
  
  div img {
    width: 100%;
  }
  
  blockquote p {
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem auto 1rem;
    max-width: 48rem;
  }
  
  li {
    margin-left: 2rem;
  }
  
  /* Counteract the specificity of the gross *:not() chain. */
  
  h1 {
    padding: 4rem 0 !important;
  }
  
  /*  === End gross hack */
  
  p {
    color: #555;
    height: auto;
    line-height: 1.45;
  }
  
  pre,
  code {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
  
  pre {
    background-color: #fafafa;
    font-size: .8rem;
    overflow-x: scroll;
    padding: 1.125em;
  }
  
  a,
  a:visited {
    color: #3498db;
  }
  
  a:hover,
  a:focus,
  a:active {
    color: #2980b9;
  }
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}:root{--scrollbarColor: rgba(5, 10, 20, 0.6)}::-webkit-scrollbar-thumb{border-radius:10px;background-color:var(--scrollbarColor)}::-webkit-scrollbar{width:10px;background-color:transparent}.header{margin:0;padding:0;height:150px;display:flex;justify-content:space-between;align-items:center;transition:all 0.3s ease-in-out}.header .logo{margin:0 0 0 -55px;padding:0;width:280px;height:280px;user-select:none;background-image:url(images/header/logo.gif);background-repeat:no-repeat;background-position:center;background-size:contain;transition:all 0.3s ease-in-out 0.3s}.header ul{margin:0 30px 0 0;padding:0;width:300px;display:flex;justify-content:space-between;list-style:none}.header ul li{margin:0;padding:0;font-size:25px}.header ul li a{margin:0;padding:0;text-decoration:none;font-family:'Fire Sans', sans-serif;user-select:none;color:white}.header ul li a::after{content:"";display:block;background:white;height:2px;width:0;margin:-5px 0;transition:all 0.3s ease-in-out}.header ul li a:hover::after{width:100%}.header .mobile-nav-toggle{padding:0;display:none;width:50px;height:50px;margin:0 30px 0 0;align-items:center;transition:all 0.3s ease-in-out;cursor:pointer}.header .mobile-nav-toggle span,.header .mobile-nav-toggle span::before,.header .mobile-nav-toggle span::after{margin:0;padding:0;height:2px;width:100%;background-color:#9b9bcc;content:"";display:block;position:relative;transition:all 0.3s ease-in-out}.header .mobile-nav-toggle span::before{top:-15px}.header .mobile-nav-toggle span::after{top:15px}.header .mobile-nav-toggle.is-open span{background:transparent}.header .mobile-nav-toggle.is-open span::before{top:1px;transform:rotate(45deg)}.header .mobile-nav-toggle.is-open span::after{top:1px;transform:rotate(-45deg)}.mobile-nav{margin:0;padding:0;position:fixed;z-index:9998;margin-top:-2px;top:80px;background:#114e68;transform-origin:top;transition:all 0.3s ease-in-out;transform:scaleY(0);box-shadow:0 8px 8px rgba(255,255,255,0.2)}.mobile-nav ul{padding:0;margin-top:8px;padding:0;list-style:none;text-align:center}.mobile-nav ul li{padding:0;margin:0 0 10px;font-size:18px}.mobile-nav ul li a{margin:0;padding:0;text-decoration:none;font-family:'Fire Sans', sans-serif;user-select:none;display:inline-block;color:white}.mobile-nav ul li a::after{content:"";display:block;background:white;height:2px;width:0;margin:-5px 0;transition:all 0.3s ease-in-out}.mobile-nav ul li a:hover::after{width:100%}.mobile-nav.is-open{transform:scaleY(1)}@media screen and (max-width: 550px){.header{position:fixed;z-index:9999;top:0;height:80px;width:100vw;background-color:#112641;box-shadow:0 8px 8px rgba(255,255,255,0.2)}.header .logo{margin:-2px 0 0 -60px;width:180px;height:180px}.header ul{display:none}.header .mobile-nav-toggle{display:flex}}@media screen and (max-width: 350px){.header .mobile-nav-toggle{width:40px}}.contact-wrap{margin:0;padding:0;min-height:127px;display:flex;align-items:center;position:relative;background-color:#112641}.contact-wrap .button{position:absolute;top:0;right:0;bottom:0;right:0;width:100%;height:100%;cursor:pointer;overflow:hidden}.contact-wrap .button::after{position:absolute;top:0;left:0;width:100%;height:200%;border-radius:50%;background-color:#d5dcf7;content:"";display:block;transform-origin:center;transform:translate(-50%, -50%) scale(0, 0);transition:all 0.3s ease-in-out}.contact-wrap .link{margin:0 auto;padding:0;text-align:center;font-size:20px;color:white;z-index:9997;transition:all 0.3s ease-in-out}.contact-wrap:hover .button::after{transform:translate(-50%, -50%) scale(2.3, 2.3)}.contact-wrap:hover .link{color:#091422}@media screen and (max-width: 550px){.contact-wrap{min-height:80px}}.postsBanner{height:138px;background-image:url(images/banner/banner_01.jpg);background-position:center;background-size:cover;background-repeat:no-repeat;margin:-150px 0 0;transition:all 0.3s ease-in-out}@media screen and (max-width: 550px){.postsBanner{height:150px;margin:-80px 0 0}}::selection{background:#969ccc}::-moz-selection{background:#969ccc}img::selection{background:transparent}img::-moz-selection{background:transparent}body{overflow-x:hidden;overflow-y:overlay;-webkit-tap-highlight-color:transparent;background-color:#e2e5ff}body .ratio{padding:0;margin:0 auto;position:relative}body .ratio::after{content:"";display:block;padding-top:56.25%}body .ratio iframe{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;margin:0;padding:0}body .ratio.bilibili::after{padding-top:calc(56.25% + 116px)}@media screen and (max-width: 550px){body .ratio .bilibili::after{padding-top:56.25%}body h2{font-size:2.5rem}}

