.about-wrap#About
    .col-left
        .portrait
    .col-right
        .word-wrap
            h2 Hello!
            p My name is Zhan Zhang.
            p I am an undergraduate student from the School of the Gifted Young, University of Science and Technology of China. Supervised by Prof. Ligang Liu and Dr. Xiaoming Fu, I major in Mathematics and study the double degree of Computer Science. My research interest is Animation and Geometry Processing.