.header
    a(href='').logo

    ul
        li: a(href="#Work") Work
        li: a(href="#About") About
        li: a(href="#Contact") Contact

    .mobile-nav-toggle: span

.mobile-nav
    ul
        li: a(href="#Work") Work
        li: a(href="#About") About
        li: a(href="#Contact") Contact
